:root {
  --header_logo_background_color-github: #282828; /* Color picked from the logo background */
  --header_logo_background_color-logo: #0d1117; /* Color picked from the github background */
}

body {
  background-color: var(--header_logo_background_color-logo);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

header {
  padding: 20px 30px;
  margin: 10px auto;
}

#header_logo {
  width: 550px;
  height: auto;
}