@font-face {
  font-family: 'Gabarito';
  src: url('../Gabarito-VariableFont_wght.ttf');
}

:root {
  /*YT-DLP COLOR*/
  --background_color-logo: #282828; /* Color picked from the logo background */
  /*--button_background_color-logo: #535252;
  --button_border_color-logo: #373737;*/

  /*GITHUB COLOR*/
  --background_color-github: #0d1117; /* Color picked from the github background */
  /*--button_background_color-github: #2a3543;
  --button_border_color-github: #1e283c;
  --input_background_color-github: #374854;
  --input_border_color-github: #161f32;*/
}

body {
  background-color: var(--background_color-github);
  color: white;
  font-family: 'Gabarito';
  padding-left: 5px;
  padding-right: 5px;
}

header {
  padding: 20px 30px;
  margin: 10px auto;
}

#header_logo {
  width: 550px;
  height: auto;
}

h1 {
  margin-bottom: 5px;
}

input[type="button"] {
  display: none;
}

.file_input {
  border: 2px solid white;
  border-radius: 10px;
  background-color: var(--background_color-github);
  display: inline-block;
  padding: 6px 20px;
  margin-left: 5px;
  margin-right: 0px;
  cursor: pointer;
  text-align: center;
}

.general-input-div {
  display: flex;
  flex-wrap: nowrap;
}

.general-input {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-color: var(--input_background_color-github);
  padding-left: 10px;
  width: 100%;
  height: 30px;
}

#commnand_view-div {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#command_view_text, #command_output_text {
  color: white;
  border: 1px solid white;
  border-radius: 0px;
  background-color: var(--input_background_color-github);
  padding: 4px;
  width: 100%;
  min-height: 45px;
  font-size: medium;
  text-wrap: stable;
  field-sizing: content;
}

#command_output-h1 {
  margin-top: 5px;
  display: none;
}

#command_output_text {
  display: none;
}

#command_run {
  border: 2px solid red;
  border-radius: 0px;
  background-color: red;
  display: inline-block;
  padding: 6px 20px;
  margin-top: 2px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}